#banner {
  background: url(/assets/img/banner.png) center center;
  background-size: cover;
  min-height: 39vw
}

#medium-iframe {
  border: 2px solid #292b2c;
  display: block;
  margin: 0 auto;
  height: 80vh;
  width: 95%;
}

.contact-modal-loader {
  cursor: pointer;
}

.loader {
  display: block;
}

.LI-profile-badge{
  width: 250px;
  margin: 0 auto;
}