#banner {
  background: url(/assets/img/banner.png) center center;
  background-size: cover;
  min-height: 39vw
}

#medium-iframe {
  border: 2px solid #292b2c;
  display: block;
  margin: 0 auto;
  max-height: 95vh;
  height: 100%;
  width: 95%;
}

.contact-modal-loader {
  cursor: pointer;
}

.btn {
  cursor: pointer
}

.loader {
  display: block;
}

.LI-profile-badge {
  width: 250px;
  margin: 0 auto;
}

.card-columns {
  column-count: 2;
}